.auth {
  &-page {
    width: 100vw;
    height: 100vh;
    &__navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 40px 60px;
    }
    &__header {
      font-size: 1.5rem;
      text-align: center;
      margin: 20px 0 40px 0;
    }
    &__form {
      width: 570px;
      margin: auto;
      & .input input,
      .btn {
        width: 100%;
      }
      &-container {
        position: relative;
      }
    }
    &__success {
      &-img {     
      width: fit-content;
      margin: 20px auto;
      }
      &-message {
        width: 40ch;
        text-align: center;
        margin: 0 auto 40px auto;
        line-height: 1.5rem;
      }
    }
    &__text {
      text-align: center;
      width: 35ch;
      margin: 40px auto;
      position: relative;
      bottom: 0;
      color: rgba($purple, 0.45);
    }
  }
}
