.dashboard {
  &-page {
    &__main {
      border-radius: 1rem;
      padding: 20px;
      background: $white;
      display: grid;
      grid-template-columns: 2fr 1fr;
      flex-grow: 1;
      & .account-summary {
        margin-top: 20px;
        & .card {
          margin-bottom: 20px;
        }
      }
    }
  }
}
