* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$white: #ffffff;
$light-gray: #e5e5e5;
$gray: #666473;
$black: #04004D;

$light-purple: #ebe9f6;
$purple-stroke: #beabe3;
$purple: #5f31b4;
$dark-purple: #3D2381;

$light-green: #ECFDF5;
$green: #059669;

$Poppins: "Poppins", sans-serif;

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: $Poppins;
  color: $black;
}

.App {
  background-image: linear-gradient($light-gray, rgba($purple, 0.1));
  min-height: 100vh;
  &-page {
      display: flex;
  }
  & .page-title {
    margin-bottom: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}